// @mixin linearGradient($rotate:0deg) {
// 	background-image: linear-gradient(
// 		$rotate,
// 		rgba(76, 162, 227, 0.2),
// 		rgba(19, 25, 38, 0.7)
// 	);
// }

// .fade-in {
// 	animation: fade-in 1s linear;
// 	animation-iteration-count: 1;
// }

// .move-left {
// 	animation: move-left 1s ease-in-out;
// 	animation-iteration-count: 1;
// }

// .move-down {
// 	animation: move-down 1s ease-in-out;
// 	animation-iteration-count: 1;
// 	// animation-delay: 0.5s;
// }

// .move-up {
// 	animation: move-up 1s ease-in-out;
// 	animation-iteration-count: 1;
// 	// animation-delay: 0.1s;
// }

.linear-gradient {
	background-image: linear-gradient(
		180deg,
		transparent 5%,
		var(--bg-darker-color) 50%
	);
}

// @keyframes fade-in {
// 	from {
// 		opacity: 0;
// 	}
// 	to {
// 		opacity: 1;
// 	}
// }

// @keyframes move-down {
// 	from {
// 		opacity: 0;
// 		transform: translateY(-25rem);
// 	}
// 	to {
// 		opacity: 1;
// 		transform: translateY(0);
// 	}
// }

// @keyframes move-up {
// 	from {
// 		opacity: 0;
// 		transform: translateY(25rem);
// 	}
// 	to {
// 		opacity: 1;
// 		transform: translateY(0);
// 	}
// }

// @keyframes move-left {
// 	from {
// 		opacity: 0;
// 		transform: translateX(-25rem);
// 	}
// 	to {
// 		opacity: 1;
// 		transform: translateX(0);
// 	}
// }

.social-icons {
	width: 4rem;
	height: 4rem;
}

.n-d-min-w-768 {
	@media (min-width: 768px) {
		display: none;
	}
}

.n-d-max-w-768 {
	@media (max-width: 768px) {
		display: none;
	}
}

.text-center-d-max-w-768 {
	@media (max-width: 768px) {
		text-align: center;
	}
}
.p-fixed-font-max-w-768 {
	display: none;
	@media (max-width: 768px) {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed !important;
		bottom: 7%;
		right: 7%;
		height: 4rem;
		width: 4rem;
		background-color: var(--font-color);
		z-index: 2;

		// border-radius: 0 0 2rem 2rem;
	}
}

.border-top-blue {
	border-top: 0.1rem solid var(--font-color);
	border-radius: 0.5rem;
}

.justify-content-sm-center {
	@media (max-width: 576px) {
		justify-content: center !important;
	}
}
