<div class="links-border" (click)="displayType = 'transformZero '">
	<span></span>
	<span></span>
	<span></span>
</div>

<div class="container-fluid">
	<header class="row container-fluid pt-2 header">
		<nav class="row navbar align-items-baseline p-4">
			<h2 class="col-6 h2 d-flex justify-content-center font-color">
				<span><\</span>{{ user.fullName }}<span>></span>
			</h2>

			<div class="col-6 navbar-nav flex-row justify-content-around fs-20">
				<a class="nav-link primary-color" href="#about">About</a>
				<a class="nav-link primary-color" href="#contact">Contact</a>
				<a class="nav-link primary-color" href="#skills">Skills</a
				><a class="nav-link primary-color" href="#services">Services</a>
			</div>
		</nav>
		<div class="row display-6 h-45">
			<div
				class="col-6 d-flex flex-column align-items-center justify-content-center"
			>
				<div>
					<p class="fs-20">Hi There</p>
					<p>
						I'm <span class="font-color"> {{ user.fullName }}</span>
					</p>
					<p>I'm a {{ user.jobTitle }}</p>
				</div>
				<div class="row w-75 fs-14 bg-darker-color br-10 h-15">
					<a
						class="nav-link col primary-color d-flex flex-column justify-content-around align-items-center"
						*ngFor="let social of user.social | keyvalue"
						[href]="social.value"
						target="_blank"
					>
						<svg async loading="lazy" class="row icon {{ social.key }}">
							<use
								attr.xlink:href="../assets/icons/sprite.svg#icon-{{
									social.key
								}}"
							></use>
						</svg>
						<span class="row">
							{{ social.key }}
						</span>
					</a>
				</div>
			</div>
			<div class="col-6">
				<svg async loading="lazy" class="hw-100">
					<use xlink:href="../assets/icons/sprite.svg#working-man"></use>
				</svg>
			</div>
		</div>
	</header>
	<section id="services" class="services">
		<app-service
			loading="lazy"
			*ngFor="let service of serviceList"
			[serviceInfo]="service"
		></app-service>
	</section>

	<section id="about" class="about">
		<app-service loading="lazy" [serviceInfo]="aboutMe"></app-service>
		<div class="about--context">
			<!-- <div class="about--coursework">
				<h4>Some Coursework</h4>

				<div class="about--Coursework-element">
					<strong *ngFor="let item of courses">{{ item }}</strong>
				</div>
			</div> -->
			<div class="about--education-details">
				<h4>Education</h4>

				<div>
					<div
						class="about--education-detail"
						*ngFor="let item of educationDetails"
					>
						<strong>{{ item.title }}</strong>
						<p>{{ item.date }}</p>
						<p>{{ item.place }}</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="skills" class="about--skills">
		<div class="about--skill" *ngFor="let item of skills | keyvalue">
			<svg async loading="lazy" class="icon">
				<use
					attr.xlink:href="../assets/icons/sprite.svg#{{ item.value }}"
				></use>
			</svg>
			<strong>{{ item.key }}</strong>
		</div>
	</section>

	<section id="contact" class="contact">
		<div class="contact--personal-details">
			<h4>Personal Details</h4>
			<div>
				<div class="contact--personal-detail">
					<strong>email</strong>
					<p>{{ user.email }}</p>
				</div>
			</div>
		</div>
		<div class="contact--svg">
			<svg async loading="lazy">
				<use xlink:href="../assets/icons/sprite.svg#personal-details"></use>
			</svg>
		</div>
	</section>
	<footer class="footer">
		<p>{{ footer }}</p>
	</footer>
</div>
