/* You can add global styles to this file, and also import other style files */

// @use "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@use "../node_modules/bootstrap/scss/bootstrap.scss";
@use "@angular/material" as mat;

:root {
	--bg-darker-color: rgb(27, 32, 42);

	--bg-dark-color: #1e344a66;

	--bg-color: rgb(30, 35, 46);

	--font-color: #3f8ec9;

	--primary-color: #ccc;
}

* {
	scroll-behavior: smooth;
}

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	height: 100%;

	font-family: "Josefin Sans", sans-serif;

	color: var(--primary-color) !important;

	background-color: var(--bg-color) !important;

	margin: 0;

	// scroll-behavior: smooth;

	// font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (min-width: 768px) {
	::-webkit-scrollbar {
		width: 0.9rem;
		background-color: var(--bg-darker-color);
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--font-color) !important;

		border-radius: 1rem;
	}
}

@media (max-width: 768px) {
	::-webkit-scrollbar {
		width: 0;
	}
}

.icon {
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	stroke-width: 0;
	stroke: var(--font-color);
	fill: var(--font-color);
}

.primary-color {
	color: var(--primary-color) !important;
}

.font-color {
	color: var(--font-color) !important;
}

.bg-color {
	background-color: var(--bg-color) !important;
}

.bg-dark-color {
	background-color: var(--bg-dark-color) !important;
}

.bg-darker-color {
	background-color: var(--bg-darker-color) !important;
}

.overflow_y_hidden {
	overflow-y: hidden !important;
}

.h-45 {
	height: 45rem !important;
}

.hw-100 {
	width: 100% !important;
	height: 100% !important;
}

.br-10 {
	border-radius: 1rem;
}

.br-20 {
	border-radius: 2rem;
}
