/* You can add global styles to this file, and also import other style files */

// @use "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@use "../node_modules/bootstrap/scss/bootstrap.scss";
@use "@angular/material" as mat;

:root {
	--bg-darker-color: rgb(27, 32, 42);

	--bg-dark-color: #1e344a66;

	--bg-color: rgb(30, 35, 46);

	--font-color: #3a83ba;

	--primary-color: #ccc;
}

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	height: 100%;
	// font-family: "Josefin Sans", Roboto, sans-serif;

	color: var(--primary-color) !important;

	background-color: var(--bg-color) !important;

	margin: 0;

	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.icon {
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	stroke-width: 0;
	stroke: var(--font-color);
	fill: var(--font-color);
}

.primary-color {
	color: var(--primary-color) !important;
}

.font-color {
	color: var(--font-color) !important;
}

.bg-color {
	background-color: var(--bg-color) !important;
}

.bg-dark-color {
	background-color: var(--bg-dark-color) !important;
}

.bg-darker-color {
	background-color: var(--bg-darker-color) !important;
}

// .fs-14 {
// 	font-size: 1.4rem !important;
// }

// .fs-20 {
// 	font-size: 2rem !important;
// }

// .w-75 {
// 	width: 75% !important;
// }

.h-45 {
	height: 45rem !important;
}

// .h-15 {
// 	height: 15% !important;
// }

.hw-100 {
	width: 100% !important;
	height: 100% !important;
}

.br-10 {
	border-radius: 1rem;
}

.br-20 {
	border-radius: 2rem;
}

.transformHundredRight {
	// display: none !important;
	@media only screen and (min-width: 0px) and (max-width: 750px) {
		transform: translateX(100vw) !important;
	}
}

// .transformFiftyRight {
// 	transform: translateX(50vw) !important;
// }

.transformZero {
	// transform: translateX(0) !important;
	// display: none !important;
	animation-duration: 1s;
	animation-name: shake;
	// animation-iteration-count: infinite;
}

// @keyframes movingUp {
// 	from {
// 		transform: translateY(10rem);
// 	}

// 	to {
// 		transform: translateX(0rem);
// 	}
// }
