/* You can add global styles to this file, and also import other style files */

// @use "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@use "../node_modules/bootstrap/scss/bootstrap.scss";

:root {
	--bg-darker-color: #0d111a;

	--bg-color: #131926;

	--font-color: #3a83ba;

	--primary-color: #ccc;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Josefin Sans", sans-serif;

	color: var(--primary-color) !important;

	background-color: var(--bg-color) !important;

	line-height: 1.6 !important;
}

.icon {
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	stroke-width: 0;
	stroke: var(--color);
	fill: var(--color);
}

.primary-color {
	color: var(--primary-color) !important;
}

.font-color {
	color: var(--font-color) !important;
}

.bg-darker-color {
	background-color: var(--bg-darker-color) !important;
}

.fs-14 {
	font-size: 1.4rem !important;
}

.fs-20 {
	font-size: 2rem !important;
}

.w-75 {
	width: 75% !important;
}

.h-45 {
	height: 45rem !important;
}

.h-15 {
	height: 15% !important;
}

.hw-100 {
	width: 100% !important;
	height: 100% !important;
}

.br-10 {
	border-radius: 1rem;
}

.transformHundredRight {
	// display: none !important;
	@media only screen and (min-width: 0px) and (max-width: 750px) {
		transform: translateX(100vw) !important;
	}
}

// .transformFiftyRight {
// 	transform: translateX(50vw) !important;
// }

.transformZero {
	// transform: translateX(0) !important;
	// display: none !important;
	animation-duration: 1s;
	animation-name: shake;
	// animation-iteration-count: infinite;
}

// @keyframes movingUp {
// 	from {
// 		transform: translateY(10rem);
// 	}

// 	to {
// 		transform: translateX(0rem);
// 	}
// }
